    #intro{
        transform: translateY(0);
        transition: 0.5s;
        button{
            cursor: pointer;
        }

        &.on{
            transform: translateY(-46px);
        }
        // inner : s

        .inner{
            >.video{
                position: sticky;
                top: 0;
                text-align: center;
                background-color: var(--black-color);
                z-index: 2;

                > video{
                    max-width: 1200px;
                    width: 100%;
                }
            }
            .infoAndUpnext{
                position: relative;
                display: flex;
                flex-direction: column;
                background: none;

                &.on{
                    background-color: var(--grey-dark-color);
                }

                .info{
                    padding: var(--padding);
                    .hashtag{
                        display: flex;
                        justify-content: start;
                        align-items: center;
    
                        li{
                            margin-right: 12px;
                            a{
                                color: var(--blue-color);
                                font-weight: var(--font-normal);
                                font-size: var(--font-small);
                            }
                        }
                    }
                    .titleBtn{
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;
                        margin-bottom: 5px;
    
                        span{
                            font-weight: var(--font-bold);
                        }
                        .title{
                            margin-right: 12px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            word-wrap: break-word;
                            line-height: 1.2em;
                            height: 2.4em;
                            font-size: var(--font-medium);
                        }
                        .moreBtn{
                            height: 100%;
                        }
                    }
                    .views{
                        color: var(--grey-dark-color);
                        font-size: var(--font-small);
                        margin-bottom: 5px;
    
                    }
                    .actions{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        margin: 12px 0;
    
                        li{
                            text-align: center;
    
                            button{
                                flex-direction: column;
                                font-size: var(--font-small);
                                color: var(--grey-dark-color);
    
                                i{
                                    margin: 0 auto;
                                    margin-bottom: 6px;
                                    font-size: 16px;
    
                                    &.active{
                                        color: var(--blue-color);
                                    }
                                }
                            }
                            span{
                                display: block;
                            }
                        }
                    }
                    .channel{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 0;
                        border-top: 1px solid var(--grey-light-color);
                        border-bottom: 1px solid var(--grey-light-color);
    
                        .metadata{
                            display: flex;
                            align-items: center;
                            position: relative;
                          
                            .avatar{
                                margin-right: 10px;
                                width: var(--avatar-size);
                                height: var(--avatar-size);
                                border-radius: 50%;
                                overflow: hidden;
                            }
                            .info{
                                display: flex;
                                flex-direction: column;
    
                                span{
                                    display: block;
                                }
                                .name{
                                    font-weight: var(--font-bold);
                                    font-size: var(--font-medium);
                                }
                                .subscribers{
                                    font-size: var(--font-small);
                                    color: var(--grey-dark-color);
                                }
                            }
                        }
                        .subscribe{
                            color: var(--red-color);
                            font-size: var(--font-small);
                            font-weight: var(--font-bold);
                        }
                    }
                }
                .upNext{
                    margin-top: 12px;
                    padding: 0 var(--padding);
    
                    .info{
                        display: flex;
                        margin: 12px 0;
                        padding: 0;
    
                        .avatar{
                            margin-right: 10px;
                            display: inline-block;
                            width: var(--avatar-size);
                            height: var(--avatar-size);
                            border-radius: 50%;
                            overflow: hidden;
                        }
    
                        .titleBtn{
                            display: block;
                            position: relative;
                            width: calc(100% - 50px);
    
                            .title{
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                word-wrap: break-word;
                                line-height: 1.2em;
                                height: 2.3em;
                            }
    
                            ul{
                                display: flex;
    
                                li.item{
                                    a{
                                        display: block;
                                        .video{
                                            video{
                                                width: 100%;
                                            }
                                        }
                                    }

                                   
                                    
                                    &::after{
                                        content: " · ";
                                        display: inline-block;
                                        margin: 0 5px;
                                    }
                                }
                                span{
                                    font-size: 12px;
                                    font-weight: 400;
                                }
                            }
                            .moreBtn{
                                position: absolute;
                                right: 0;
                                top: 0;
                            }
                        }
                    }
                }

                .meta_description{
                    padding: var(--padding);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    top: 0;
                    right: 0;
                    width: 100%;
                    // height: 100%;
                    background-color: var(--white-color);
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
        
        
                    .top{
                        padding: var(--padding) 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        &::before{
                            content: "";
                            display: block;
                            position: absolute;
                            width:100%;
                            height: 1px;
                            box-shadow: -10px 22px 2px 0px var(--grey-dark-color);
                        }
                        button{
                            padding: 10px 0 10px 20px;
                        }
                    }
                    .wrap{
                        overflow-y: scroll;
                        height: 50%;
        
                        .titleArea{
                            padding: var(--padding) 0;
                            border-bottom: 1px solid var(--grey-light-color);
            
                            .title{
                                font-size: var(--font-normal);
                                font-weight: var(--font-bold);
                                color: var(--black-color);
                            }
                            ul{
                                display: flex;
            
                                li{
                                    &.name::after,
                                    &.view::after{
                                        content: " · ";
                                        display: inline;
                                        margin: 0 3px;
                                    }
                                    span{
                                        font-size: var(--font-small);
                                        color: var(--grey-dark-color);
                                    }
                                }
                            }
                        }
                        .textArea{
                            margin-bottom: 50px;
        
                            p{
                                padding: var(--padding) 0;
                            }
                        }
                    }
        
                  
                }
            }
        }
        // inner : e

        
    }


//tablet
@media screen and (min-width:$tablet){
    #intro{
        .inner{
            > video{
                max-width: 1200px;
            }
           .infoAndUpnext{
                flex-direction: row !important;
        
                > .info{
                    width:70%;
                }
        
                > .upNext{
                    width: 30%;
                }

                .meta_description{
                    
                    .wrap{
                        height: 20%;
        
                    }
                }
            }
        }
       
    }
}
